Options -Indexes

RewriteEngine On

# Sirve archivos y carpetas reales tal cual
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todo lo demás → index.php
RewriteRule ^ index.php [QSA,L]
